label {
    width: 300px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    cursor: pointer;
    background: #484848;
    color: #fff;
    font-family: 'SF UI Display';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    background-image: -webkit-linear-gradient(45deg, #fff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
    background-position: 100%;
    background-size: 250%;
    transition: all 700ms linear 0ms;
    border: 2px solid #484848;
}
label:hover,
label.active{
    color: #484848;
    background-position: 0;
    transition: background-position 700ms linear 0ms;
}
input[type=radio] {
    display: none;
}
h3 {
    margin-bottom: 50px;
}
.tabs__item {
    display: none;
}
.tabs__item:first-child {
    display: block;
}